#container_id{
  /*width: 100px;*/
  width: 100%;
  backgroud: red;
  height: 500px;
  position: relative;
  top: 400px;
  left: 100px;
  /*text-align: center;*/
  margin: auto;
}

div#wrapperHeader {
 width:2%;
 height:0; /* height of the background image? */
 /*background:url(images/header.png) repeat-x 0 0;*/
 text-align:left;
}

div#wrapperHeader div#header {
 width:100px;
 height:20px;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width:;
 height:;
 margin:0 auto;
}

nav a {
  display: block;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #887a88;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  color: gold;
  background-color: #887a88;
  transition: all .25s ease-in;
}

nav li[aria-current] a {
  background-color: firebrick;
  color: #a73f3f;
}

nav a:focus,
nav a:hover,
nav li[aria-current] a:focus,
nav li[aria-current] a:hover {
  color: #e4f5cd;
  background-color: #a73f3f;
}

nav ul {
  text-align: center;
  /* weitere Angaben */
}

nav li {
  display: inline-block;
  /* weitere Angaben */
}
