<div id="wrapperHeader">
 <div id="header">
  <img src="../assets/img/logo.png" alt="logo" />
 </div>
</div>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!--routerLink="play"-->
        <a (click)="isLoggedIn()" class="nav-link" routerLinkActive="active">
          Play
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="leaderboard" class="nav-link" routerLinkActive="active">
          Leaderboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="postgame" class="nav-link" routerLinkActive="active">
          Postgame
        </a>
      </li>
      <li *ngIf=button_switch(); class="nav-item">
        <a routerLink="logout" class="nav-link" routerLinkActive="active">
          Logout
        </a>
      </li>
      <li *ngIf="button_switch() == false" class="nav-item">
        <a routerLink="login" class="nav-link" routerLinkActive="active">
          Login
        </a>
      </li>

      <!-- <li class="nav-item">
        <a routerLink="options" class="nav-link" routerLinkActive="active">
          Options
        </a>
      </li> -->
    </ul>
  </div>
</nav>

<div class="container" id="container_id">
  <router-outlet></router-outlet>
</div>
