#postgameTable {
  font-family: Impact, Charcoal, sans-serif;
  border-collapse: collapse;
  position: absolute;
}

#postgameTable td, #postgameTable th {
  border: 1px solid #ddd;
  padding: 8px;
  height: 90px;
}

#postgameTable tr:nth-child(even){background-color: #993333;}
#postgameTable tr:nth-child(odd){background-color: #b3b3cc;}
#postgameTable td:nth-child(3){background-color: #fff;}
#postgameTable td:nth-child(3){width: 300px;}


#postgameTable th {
  font-family: Impact, Charcoal, sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000;
  color: white;
  height: 60px;
  font-size: 40px;
}
