<table id="postgameTable">
<tbody>
<tr id="discription">
<th>Titel</th>
<th>Künstler</th>
<th>Verteilung</th>
</tr>
<tr>
<td id=title_1></td>
<td id=interpret_1></td>
<td id="hex_row_1"><canvas id="hex_1"></canvas></td>
</tr>
<tr>
<td id=title_2></td>
<td id=interpret_2></td>
<td id="hexa_row_2"><canvas id="hex_2"></canvas></td>
</tr>
<tr>
<td id=title_3></td>
<td id=interpret_3></td>
<td id="hexa_row_3"><canvas id="hex_3"></canvas></td>
</tr>
<tr>
<td id=title_4></td>
<td id=interpret_4></td>
<td id="hexa_row_4"><canvas id="hex_4"></canvas></td>
</tr>
<tr>
<td id=title_5></td>
<td id=interpret_5></td>
<td id="hexa_row_5"><canvas id="hex_5"></canvas></td>
</tr>
</tbody>
</table>
