<form novalidate>
  <div class="form-group">
    <p id="login">
      Click here to log in with your Spotify account.
      </p>
    <button id="loginButton" class="button" onClick="window.open('http://localhost:3000/api/login', '', 'width=400,height=700');">
      <span class="icon">login</span>
    </button>
  </div>
</form>
