#loginButton{
  display: block;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid #887a88;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  color: gold;
  background-color: #887a88;
  transition: all .25s ease-in;
  width: 100px;
  margin-left: 18%;
}
#login{
  display: block;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  border: 1px solid #887a88;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  transition: all .25s ease-in;
  width: 400px;
  margin-left: 18%;
margin-top: 10%;
}
