<form novalidate>
  <div class="form-group">
    <p id="login">
      Are you sure you want to log out from Spotify?
      </p>
    <button id="loginButton" class="button" onClick="window.open('http://localhost:3000/api/logout', '', 'width=400,height=700', '_self').close();">
      <span class="icon">logout</span>
    </button>
  </div>
</form>
