$color-alpha: #1772FF;

.leaderboard{
  font: bold 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.parent{
  text-align:center;
}

.table-header {
	display:flex;
	width:100%;
	background:#000;
	padding:(12px * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:(12px * 1.5) 0;

	&:nth-of-type(odd) {
		background: #EEEEEE;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}
