<div class="leaderboard parent">
<h1>Leaderboard</h1>

  <table class ="leaderboard">
    <thead>
      <tr>
        <th></th>
        <th>
          Player name
        </th>
        <th>
          Guess ratio
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td >{{users.indexOf(user) + 1}}.</td>
        <td >{{ user.userName }}</td>
        <td >{{user.ratio}}</td>
      </tr>
    </tbody>
  </table>
</div>
