#play{
  width: 300px;
  margin-top: 30px;
  font-size: 22px;
}
#guess{
  width: 230px;
  margin-top: 30px;
  font-size: 22px;
}
#genre-choice{
    width: 100px;
    margin-top: 10px;
}
#unit{
  display: block;
  width: 200px;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #887a88;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  color: gold;
  background-color: #887a88;
  transition: all .25s ease-in;
  margin-top: 10px;
}
#nextTrack{
  display: block;
  width: 200px;
  padding: .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #887a88;
  border-radius: 10px;
  box-shadow: 0 5px 10px white inset;
  color: gold;
  background-color: #887a88;
  transition: all .25s ease-in;
  margin-top: 10px;
}
#nextTrack:hover{
    background-color:#b50707;
}
#audioController{
    width: 300px;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #887a88;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    padding:1px 46px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
#audioController:hover{
  border-color: #b50707;
}
#genre-choice{
    margin-right: 40%;
    padding: 6px;
}
