<div class="card" id="Container">
  <div class="card-body">
    <form novalidate>

      <div class="song play-song">
        <div id="explainText">

        </div>
        <div id="play">
            <p>
          Play a song and guess the genre:
          </p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4"></label>
        <audio id="audioController" controls controlsList="nodownload"><source id="source" [src]="getNextTrack()" type="audio/mpeg"></audio>
      </div>
      <!-- <div id="buttonDIV" class="form-group">
        <button id="nextTrack" class="btn btn-primary" >Next Track</button>
      </div> -->
      <div class="">
        <div id="guess">
            <p>
          Submit the genre here:
          </p>
        </div>
        <input list="genres" id="genre-choice" name="genre-choice" #genre/>
        <datalist id="genres">
            <option *ngFor="let genre of genres" value="{{genre}}">
        </datalist>
      </div>
      <div class="alert alert-danger">
        <div>
        </div>
      </div>
      <div class="form-group">
        <button id="unit" (click)="addSong(genre.value)" class="btn btn-primary" type="button">Guess</button>
      </div>
      </form>
  </div>
</div>

<!--
<div class="card">
  <div class="card-body">
    <form novalidate>

      <div class="form-group">
        <label class="col-md-4">Song</label>
        <audio id="audioController" controls controlsList="nodownload"><source id="source" [src]="getNextTrack()" type="audio/mpeg"></audio>
      </div>
      <div id="buttonDIV" class="form-group">
        <button id="nextTrack" class="btn btn-primary" >Next Track</button>
      </div>
      <div class="song play-song">
        <div>
          Click on play to listen to the track.
        </div>
      </div> -->

      <!--div class="form-group">
        <label class="col-md-4">Song</label>
        <input type="text" class="form-control" name="song_name" formControlName="song_name" #song_name/>
      </div>
      <div class="alert alert-danger">
        <div>
          Song name is required.
        </div>
      </div-->
      <!-- <form>
      <div class="">
        <label class="">Genre</label>
        <input type="text" class="form-control" name="genre" formControlName="genre" #genre/>
        <input list="genres" id="genre-choice" name="genre-choice" #genre/>

        <datalist id="genres">
            <option *ngFor="let genre of genres" value="{{genre}}">
        </datalist>
      </div>
      <div class="alert alert-danger">
        <div>
          Cooles genre.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addSong(genre.value)" class="btn btn-primary" type="button">Create Unit</button>
      </div>
      </form> -->

      <!--<form novalidate>
      <div class="form-group">
        <label class="col-md-4">GetSong</label>
        <input type="text" class="form-control" name="song_get" formControlName="song_get" #song_get/>
      </div>
      <div class="alert alert-danger">
        <div>
          Got it.
        </div>
      </div>
      <div class="form-group">
        <button (click)="findSong(song_get.value)" class="btn btn-primary" type="button">Get Song</button>
      </div>
      </form>

      <form novalidate>
      <div class="form-group">
        <label class="col-md-4">Get Albums</label>
        <input type="text" class="form-control" name="album_id" formControlName="album_id" #album_id/>
      </div>
      <div class="alert alert-danger">
        <div>
          Got it yeahhh.
        </div>
      </div>
      <div class="form-group">
        <button (click)="findAlbumById(album_id.value)" class="btn btn-primary" type="button">Get Albums</button>
      </div-->
      <!-- </form>
  </div>
</div> -->
